body 
{
    background-color: #e8ffff;
    font-family: Arial, Tahoma, Verdana, Times New Roman;
    font-size: 100%;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.MLAS_title
{
    background-color: #96dfff; 
    color: #ffffff; 
    font-weight: bold;
    width: 100%;
}

a
{
    color: #000000;
}
a:hover
{
    background-color: #66ccff;
    cursor: hand;
    /*text-decoration: none;*/
    color: #000000;
}
a:visited
{
    color: #000000;
    /*text-decoration: none;*/
}

table
{
    padding: 0px;
    border-spacing: 0px;
}

.MLAS_table_first_row { background-color: #507CD1; font-weight: bold; color: #ffffff; }
.MLAS_table_odd_row { background-color: #E0F3FB; }
.MLAS_table_even_row { background-color: #ffffff; }
.MLAS_table_message_odd_row 
{
    background-color: #7fffd4; 
	font-size:larger;
	padding-bottom:5px;
    padding-top:5px;
}
.MLAS_table_message_even_row 
{ 
	background-color: #96dfff; 
	font-size:larger;
    padding-bottom:5px;
    padding-top:5px;
}

.MLAS_button_click
{
	font-size: 16px;
	color: #000000;
	letter-spacing: 1px;
	border: 1px solid white;
	height: 25px;
	background-color: white;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	font-weight: bold;
}
.MLAS_button_unclick
{
	font-size: 16px;
	color: #3399ff;
	letter-spacing: 1px;
	border: 1px solid white;
	height: 25px;
	background-color: white;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	border-bottom-color:#3399ff;
	font-weight: bold;
}
.MLAS_button_unclick1
{
	font-size: 16px;
	color: #3399ff;
	letter-spacing: 1px;
	border: 1px solid white;
	height: 25px;
	background-color: white;
	cursor: hand;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
	font-weight: bold;
}
.MLAS_Label_font_size
{
	 font-size: 20px;
}
